# === Configuração de Ambiente para furnas-backend ===
# Copie este arquivo para `.env` e ajuste os valores conforme necessário.
NODE_ENV="develop"
# DATABASE_URL
# String de conexão do Prisma com o banco PostgreSQL.
# Formato: postgresql://USUARIO:SENHA@HOST:PORTA/NOME_BANCO?schema=SCHEMA
DATABASE_URL=""

# PORT
# Porta HTTP que a aplicação NestJS irá escutar.
# Valor padrão: 3000
PORT=3000
